/*.h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 40px;
}*/

/*.body {
    background-color: aqua;
    font-family: 'Raleway', sans-serif;
}*/

/*.rendererView {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
}*/
.heart:active {
    background-color: white;
    width: 60%;
    height: 60%;
    left: 0;
    top: 0;
    position: fixed;
    background: url(heart2.gif) no-repeat center center;
    background-size: contain;
}

.active {
    background-color: white;
    width: 60%;
    height: 60%;
    left: 0;
    top: 0;
    position: fixed;
    background: url(heart2.gif) no-repeat center center;
    background-size: contain;
}


.heart {
    width: 128px;
    height: 128px;
    background: url(heart1.gif) no-repeat center center;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    -o-transition: .25s;
    -ms-transition: .25s;
    transition: .25s;
    position: absolute;
    left: 46.3%;
    top: 41%;
}


.h1 {
    font-family: 'Raleway', sans-serif;
    margin-left: 25%;
    margin-top: 20%;
}​

#areaChart .layer-1 .area {
  fill: #FFC0CB;
}

#areaChart{
    width: 100%; 
    height: 200px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#stress{
    pointer-events: none
}
/*#counter{
    position: absolute;
    left: 46.3%;
    top: 52%;
    font-family: 'Raleway', sans-serif;
    color: aqua;
}*/